#-*- coding: utf-8 -*-

#database account
DB_URL="mysql://WeBIAS:WeBIAS@localhost/WeBIAS"

#admin e-mail address
MAIL_NAME="Joe Admin"
E_MAIL="joe@doe.com"

#MAILER ACCOUNT
MAIL_ACC="joe"
MAIL_PASSWD=""
MAIL_FROM="noreply@localhost"
MAIL_HOST="localhost"

PROXY=True
SERVER_PORT=8080
#SERVER_SSL_PORT=443
SERVER_HOST='0.0.0.0'
#SSL_CERT='/var/www/WeBIAS/cert/host.crt'
#SSL_KEY='/var/www/WeBIAS/cert/host.key'
#SSL_CERT_CHAIN=""
PID_FILE='/tmp/WeBIAS.pid'
LOG_ACCESS='/var/log/WeBIAS/access.log'
LOG_ERROR='/var/log/WeBIAS/error.log'

#server name and paths
SERVER_NAME="WeBIAS site"
APP_ROOT="/WeBIAS"
SERVER_URL="http://localhost/"+APP_ROOT
CSS_URL=APP_ROOT+"/media/WeBIAS.css"
IMG_URL=APP_ROOT+"/media"

#path for working and executables directory
BIAS_DIR="/var/www/WeBIAS"
DBCACHE_DIR="/var/cache/WeBIAS"

MIME_TYPES = {'png':'image/png','html':'text/html','htm':'text/html' ,'txt':'text/plain'}
