#-*- coding: utf-8 -*-

APPS=['Test']

CMD_FILE="BIAS.cmd"
ERR_FILE="BIAS.status"
RES_FILE="BIAS.result"

#database account
DB_URL="mysql://WeBIAS:WeBIAS@localhost/WeBIAS"

BIAS_DIR="/var/www/WeBIAS"

SCHED_ID="Scheduler"

#job runner executable
RUNNER=BIAS_DIR+"/runner.py"

#path for working and executables directory
WRK_DIR="/var/spool/WeBIAS"

SERVER_NAME="WeBIAS site"
APP_ROOT="/WeBIAS"
SERVER_URL="http://localhost/"+APP_ROOT

#admin e-mail address
MAIL_NAME="Joe Admin"
E_MAIL="joe@doe.com"

#MAILER ACCOUNT
MAIL_ACC="joe"
MAIL_PASSWD=""
MAIL_FROM="noreply@localhost"
MAIL_HOST="localhost"

#Number of tasks that can be processed concurrently (0 = unlimited)
SLOTS=0

